<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{keyFacts}">
			<ul class="product--key-facts">
				<f:for each="{keyFacts}" as="keyFact">
					<f:render section="Item" arguments="{title: keyFact.title, description: keyFact.description}" />
				</f:for>
			</ul>
		</f:if>
	</f:section>

	<f:section name="Item">
		<li>
			<fo:svg.inline source="/assets/svg/check.svg" />
			<f:if condition="{title}">
				<header>{title}</header>
			</f:if>

			<f:if condition="{description}">
				<f:format.html>{description}</f:format.html>
			</f:if>
		</li>
	</f:section>
</html>