<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<div class="product--listing">
		<h1>{record.header}</h1>

		<f:flashMessages/>

		<div class="card--container">
			<f:for each="{products}" as="product">
				<div class="card" data-target="{f:uri.action(action: 'show', arguments: {product: product})}">
					<div class="card--header">
						<f:link.action class="card--title" action="show" arguments="{product: product}">{product.title}</f:link.action>
					</div>
				</div>
			</f:for>
		</div>
	</div>
</f:section>
</html>
