<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
	<div class="product--listing">
		<h1>{record.header}</h1>

		<f:flashMessages/>

		<f:render partial="Filter/Listing" arguments="{_all}" section="Main" />

		<div class="card--container">
			<f:for each="{products}" as="product">
				<f:render partial="Components/Card" section="Main" arguments="{data: product, link: '{f:uri.action(action: \'show\', arguments: {product: product})}'}" />
			</f:for>
		</div>
	</div>
</f:section>
</html>
