<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
	<f:if condition="{settings.hideSiblingNavigation} != 1 || {settings.hideFilter} != 1">
		<div class="product-listing--actions">
			<button class="product-listing--filter-switch product-listing--off-canvas--switch" aria-controls="product-listing--off-canvas-{record.uid}">
				<span><f:translate key="LLL:EXT:entity_product/Resources/Private/Language/locallang.xlf:filter.actions.hide" /></span>
				<xo:svg.inline source="assets/svg/filter.svg" />
			</button>
		</div>
	</f:if>

	<div class="product-listing">
		<f:flashMessages/>

		<f:if condition="{settings.hideSiblingNavigation} != 1 || {settings.hideFilter} != 1">
			<div class="product-listing--off-canvas" id="product-listing--off-canvas-{record.uid}" aria-hidden="false">
				<f:if condition="{settings.hideSiblingNavigation} != 1">
					<f:format.raw>
						<f:cObject typoscriptObjectPath="lib.productSiblingNavigation" />
					</f:format.raw>
				</f:if>

				<f:if condition="{settings.hideFilter} != 1">
					<div id="product-listing--filter-modal-{record.uid}" class="modal--container product-listing--filter product-listing--filter-modal">
						<div tabindex="-1" data-micromodal-close class="modal--backdrop">
							<button aria-label="{f:translate(key: 'LLL:EXT:entity_product/Resources/Private/Language/locallang.xlf:filter.actions.hide')}" class="modal--close"><xo:svg.inline source="assets/svg/close.svg" /></button>
							<div class="modal">
								<f:render partial="Filter/Listing" arguments="{_all}" section="Main" />
							</div>
						</div>
					</div>
				</f:if>
			</div>
		</f:if>

		<div class="product-listing--body">

			<div class="product-listing--actions">
				<button class="product-listing--filter-switch product-listing--filter-modal--switch" aria-controls="product-listing--filter-modal-{record.uid}">
					<span><f:translate key="LLL:EXT:entity_product/Resources/Private/Language/locallang.xlf:filter.actions.show" /></span>
					<xo:svg.inline source="assets/svg/filter.svg" />
				</button>
			</div>

			<f:render partial="Listing/Listing" section="CardContainer" arguments="{products: products, additionalClass: 'product-listing--container'}" />
		</div>
	</div>

	<script>
		xna.l10n.entityProduct = {
			hideFilter: '<f:translate key="LLL:EXT:entity_product/Resources/Private/Language/locallang.xlf:filter.actions.hide" />',
			showFilter: '<f:translate key="LLL:EXT:entity_product/Resources/Private/Language/locallang.xlf:filter.actions.show" />',
		};
	</script>
</f:section>
</html>
