<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>

	<f:section name="Header" />

	<f:section name="Main">
		<f:flashMessages/>

		<f:if condition="{product.layout} == 'accessories'">
			<f:then>
				<f:render partial="Product/Layout/Accessories" section="Main" arguments="{_all}"/>
			</f:then>
			<f:else if="{product.layout} == 'cleaning-machines'">
				<f:render partial="Product/Layout/CleaningMaschines" section="Main" arguments="{_all}"/>
			</f:else>
			<f:else>
				<f:render partial="Product/Layout/Default" section="Main" arguments="{_all}"/>
			</f:else>
		</f:if>
	</f:section>
</html>
