<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
	<f:if condition="{products}">

		<f:debug>{settings}</f:debug>

		<f:if condition="{products -> f:count()} > {settings.xo.modules.entityproduct.card.readmoreLimit} && {settings.readmoreEnabled} == 1">
			<f:then>
				<f:render partial="Listing/Listing" section="ReadmoreContainer" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="Listing/Listing" section="CardContainer" arguments="{_all}" />
			</f:else>
		</f:if>

	</f:if>
</f:section>
</html>
