<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<header class="ce-header ce-header--layout-2">
		<f:render partial="Header/Header" arguments="{header: '{f:translate(key: \'product.applications\')}', layout: 2}" />
	</header>

	<ul class="card--container">
		<f:for each="{product.applications}" as="application">
			<li class="card" data-uri-target="{f:uri.page(pageUid: application.uid)}">
				<f:render partial="Components/Card" section="Media" arguments="{media: application.media, settings: settings.xo.modules.entityproduct.card.pictureSettings.thumbnail}" />
				<f:render partial="Components/Card" section="Title" arguments="{title: application.title, link: '{f:uri.page(pageUid: application.uid)}'}" />
			</li>
		</f:for>
	</ul>
</f:section>
</html>