<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<f:if condition="{images -> f:count()} == 1">
		<f:then>
			<f:render partial="Item" section="Main" arguments="{
				media: images.0
			}" />
		</f:then>

		<f:else if="{images -> f:count()} > 1">
			<div class="slider">
				<ul class="slider--container">
					<f:for each="{images}" as="image" iteration="iterator">
						<li class="slider--item" data-index="{iterator.index}">
							<f:render partial="Hero/Item" section="Main" arguments="{media: image, settings: settings.xo.modules.ce_hero}" />
						</li>
					</f:for>
				</ul>

				<f:render partial="Components/Slider" section="Navigation" arguments="{elements: images}" />
			</div>
		</f:else>
	</f:if>
</f:section>
</html>