<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<f:if condition="{media -> f:count()} == 1">
		<f:then>
			<f:render section="Item" arguments="{product: product, media: media.0, settings: '{fo:settings.get(extension: \'Ps14Hero\', path: \'images\')}'}" />
		</f:then>

		<f:else if="{media -> f:count()} > 1">
			<div class="slider">
				<ul class="slider--container">
					<f:for each="{media}" as="media" iteration="iterator">
						<li class="slider--item" data-index="{iterator.index}">
							<f:render partial="Hero/Item/Main" section="Main" arguments="{media: media, settings: '{fo:settings.get(extension: \'Ps14Hero\', path: \'images\')}', product: product}" />
						</li>
					</f:for>
				</ul>

				<f:render partial="Components/Slider" section="Navigation" arguments="{elements: media}" />
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="Item">
	<f:spaceless>
		<div class="hero {f:if(condition: '{fo:media.isImage(file: media)}', then: 'hero--image')}{f:if(condition: '{fo:media.isVideo(file: media)}', then: 'hero--video hero--video-played')}">
			<f:render partial="Hero/Item/Content" section="Main" arguments="{_all}" />

			<f:if condition="{media} && {fo:media.isImage(file: media)}">
				<f:render partial="Hero/Item/Media" section="{settings.image.renderMode -> fo:format.ucFirst()}" arguments="{media: media, settings: settings.image}" />
			</f:if>

			<f:if condition="{media} && {fo:media.isVideo(file: media)}">
				<f:render partial="Media/Rendering/Video" arguments="{
					file: media,
					additionalAttributes: {
						id: 'hero-video--{product.uid}'
					},
					options: {
						autoplay: 0,
						controls: 1,
						loop: 0
					}
				}" />
			</f:if>
		</div>
	</f:spaceless>
</f:section>
</html>