<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<header class="ce-header ce-header--layout-1"><h1>{product.title}</h1></header>

		<f:if condition="{product.shortDescription}">
			<f:format.html>{product.shortDescription}</f:format.html>
		</f:if>

		<f:if condition="{product.image}">
			<f:image src="{product.image.uid}" treatIdAsReference="1" maxWidth="1200" />
		</f:if>

		<f:if condition="{product.longDescription}">
			<f:format.html>{product.longDescription}</f:format.html>
		</f:if>

		<f:if condition="{product.variants}">
			<table class="table--layout-0">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;</th>

						<f:for each="{product.attributes}" as="attribute">
							<th>{attribute.title} <f:if condition="{attribute.unit}">({attribute.unit})</f:if></th>
						</f:for>

						<th>&nbsp;</th>
					</tr>
				</thead>
				<f:for each="{product.variants}" as="variant">
					<tr>
						<th>{variant.title}</th>
						<td>{variant.articleNumber}</td>

						<f:for each="{variant.attributes}" as="value">
							<td>{value.value}</td>
						</f:for>

						<td>
							<f:if condition="{variant.files}">
								<div><a href="/{variant.files.originalResource.publicUrl}">{variant.files.originalResource.name}</a></div>
							</f:if>
						</td>
					</tr>
				</f:for>
			</table>
		</f:if>

		<f:if condition="{product.technicalDrawings}">
			<f:for each="{product.technicalDrawings}" as="technicalDrawing">
				<f:image src="{technicalDrawing.uid}" treatIdAsReference="1" maxHeight="300" />
			</f:for>
		</f:if>

		<f:if condition="{product.files}">
			<ul class="list--default">
				<f:for each="{product.files}" as="file">
					<li><a href="/{file.originalResource.publicUrl}">{file.originalResource.title} ({file.originalResource.extension})</a></li>
				</f:for>
			</ul>
		</f:if>

		<f:if condition="{product.applications}">
			<ul class="list--default">
				<f:for each="{product.applications}" as="application">
					<li><f:link.page pageUid="{application.uid}">{application.title}</f:link.page></li>
				</f:for>
			</ul>
		</f:if>
	</f:section>
</html>
