<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<header class="ce-header ce-header--layout-1"><h1>{product.title}</h1></header>

		<section class="product--section">
			<f:if condition="{product.shortDescription}">
				<div class="product--short-description"><f:format.html>{product.shortDescription}</f:format.html></div>
			</f:if>

			<f:if condition="{product.image}">
				<div class="product--hero"><f:image src="{product.image.uid}" treatIdAsReference="1" maxWidth="1200" cropVariant="hero" /></div>
			</f:if>

			<f:if condition="{product.longDescription}">
				<div class="product--long-description"><f:format.html>{product.longDescription}</f:format.html></div>
			</f:if>
		</section>

		<f:if condition="{product.variants}">
			<section class="product--section">
				<h2><f:translate key="product.variants" /></h2>

				<div class="product--table">
					<table class="table--layout-0">
						<thead>
							<tr>
								<th><f:translate key="variant.title" /></th>
								<th><f:translate key="variant.model" /></th>
								<th><f:translate key="variant.articleNumber" /></th>

								<f:for each="{product.attributes}" as="attribute">
									<th>{attribute.title} <f:if condition="{attribute.unit}">({attribute.unit})</f:if></th>
								</f:for>

								<th><f:translate key="variant.cadFile" /></th>
							</tr>
						</thead>
						<f:for each="{product.variants}" as="variant">
							<tr>
								<th>{variant.title}</th>
								<td>{variant.articleNumber}</td>
								<td>{variant.model}</td>

								<f:for each="{variant.attributes}" as="value">
									<td>
										<f:if condition="{value.attribute.dataType} == 'select'">
											<f:then>
												<f:for each="{value.attribute.options}" as="option">
													<f:if condition="{option.uid} == {value.value}">{option.title}</f:if>
												</f:for>
											</f:then>
											<f:else>
												{value.value}
											</f:else>
										</f:if>
									</td>
								</f:for>

								<td>
									<f:if condition="{variant.file}">
										<div><a href="/{variant.file.originalResource.publicUrl}">{variant.file.originalResource.name}</a></div>
									</f:if>
								</td>
							</tr>
						</f:for>
					</table>
				</div>
			</section>
		</f:if>

		<f:if condition="{product.technicalDrawings}">
			<h2><f:translate key="product.technicalDrawings" /></h2>

			<div class="ce-container">
				<f:for each="{product.technicalDrawings}" as="technicalDrawing">
					<f:image src="{technicalDrawing.uid}" treatIdAsReference="1" maxHeight="300" />
				</f:for>
			</div>
		</f:if>

		<f:if condition="{product.files}">
			<h2><f:translate key="product.downloads" /></h2>

			<ul class="list--default">
				<f:for each="{product.files}" as="file">
					<li><a href="/{file.originalResource.publicUrl}">{file.originalResource.title} ({file.originalResource.extension})</a></li>
				</f:for>
			</ul>
		</f:if>

		<f:if condition="{product.media}">
			<h2><f:translate key="product.media" /></h2>

			<div class="ce-container">
				<f:for each="{product.media}" as="media">
					<f:image src="{media.uid}" treatIdAsReference="1" maxHeight="200" />
				</f:for>
			</div>
		</f:if>

		<f:if condition="{product.applications}">
			<h2><f:translate key="product.applications" /></h2>

			<ul class="list--default">
				<f:for each="{product.applications}" as="application">
					<li><f:link.page pageUid="{application.uid}">{application.title}</f:link.page></li>
				</f:for>
			</ul>
		</f:if>

		<f:if condition="{product.accessories}">
			<h2><f:translate key="product.accessories" /></h2>

			<ul class="list--default">
				<f:for each="{product.accessories}" as="accessory">
					<f:if condition="{accessory.link}">
						<li><a href="{accessory.link}">{accessory.title}</a></li>
					</f:if>
				</f:for>
			</ul>
		</f:if>
	</f:section>
</html>
