<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<div class="row marker marker--layout-0">
		<f:if condition="{product.systemInstallationMedia}">
			<div class="col-lg-6">
				<f:render partial="Marker/Media" section="Main" arguments="{
					media: product.systemInstallationMedia.originalResource,
					settings: settings.xo.modules.marker.media.aside
				}" />
			</div>
		</f:if>

		<f:if condition="{product.systemInstallationLegend}">
			<div class="col-lg-6">
				<ol class="marker--legend">
					<f:for each="{product.systemInstallationLegend}" as="element" iteration="iterator">
						<f:render partial="Marker/Records" section="Item" arguments="{data: element, iterator: iterator}" />
					</f:for>
				</ol>
			</div>
		</f:if>
	</div>
</f:section>
</html>