<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">

	<div class="row marker-image">
		<f:if condition="{product.systemInstallationMedia}">
			<div class="col-lg-6 marker-image--media">
				<f:render partial="Components/Media" section="Picture" arguments="{
					file: product.systemInstallationMedia.originalResource,
					image: {
						width: settings.xo.modules.entityproduct.systemInstallation.pictureSettings.aside.width,
						cropVariant: settings.xo.modules.entityproduct.systemInstallation.pictureSettings.aside.cropVariant
					},
					sizes: settings.xo.modules.entityproduct.systemInstallation.pictureSettings.aside.mediaQueries
				}" />
			</div>
		</f:if>

		<f:if condition="{product.systemInstallationLegend}">
			<div class="col-lg-6">
				<ul class="marker-image--legend">
					<f:for each="{product.systemInstallationLegend}" as="element" iteration="iterator">
						<li class="marker-image--legend-item">
							<div class="marker-image--legend-item-index">{iterator.cycle}</div>

							<f:if condition="{element.title}">
								<div class="marker-image--legend-item-title">
									<f:render partial="Header/Header" arguments="{header: element.title, layout: element.titleType}" />
								</div>
							</f:if>

							<f:if condition="{element.description}">
								<f:format.html>{element.description}</f:format.html>
							</f:if>
						</li>
					</f:for>
				</ul>
			</div>
		</f:if>
	</div>
</f:section>
</html>