<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{product.technicalFeatures}">
			<ul class="technical-features--listing">
				<f:for each="{product.technicalFeatures}" as="technicalFeature">
					<li class="technical-feature">
						<div class="row">
							<div class="col-12 col-lg-4">
								<f:render section="Media" arguments="{media: technicalFeature.media, settings: settings.xo.modules.entityproduct.technicalFeature}" />
							</div>
							<div class="col-12 col-lg-8">
								<f:render section="Title" arguments="{title: technicalFeature.title, layout: technicalFeature.titleType}" />
								<f:render section="Description" arguments="{description: technicalFeature.description}" />
							</div>
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:section>

	<f:section name="Title">
		<f:if condition="{title}">
			<div class="technical-feature--title">
				<f:render partial="Header/Header" arguments="{header: title, layout: layout}" />
			</div>
		</f:if>
	</f:section>

	<f:section name="Description">
		<f:if condition="{description}">
			<f:format.html>{description}</f:format.html>
		</f:if>
	</f:section>

	<f:section name="Media">
		<f:if condition="{media}">
			<div class="technical-feature--media">
				<f:render partial="Components/Media" section="Picture" arguments="{
					file: media.originalResource,
					image: {
						maxWidth: settings.pictureSettings.maxWidth,
						cropVariant: settings.pictureSettings.cropVariant
					},
					sizes: settings.pictureSettings.mediaQueries
				}" />
			</div>
		</f:if>
	</f:section>
</html>