<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:render section="Description" arguments="{_all}" />
		<f:render section="Listing" arguments="{_all}" />
	</f:section>

	<f:section name="Description">
		<f:if condition="{product.technicalFeaturesDescription}">
			<div class="technical-features--description">
				<f:format.html>{product.technicalFeaturesDescription}</f:format.html>
			</div>
		</f:if>
	</f:section>

	<f:section name="Listing">
		<f:if condition="{product.technicalFeatures}">
			<ul class="technical-features-group">
				<f:for each="{product.technicalFeatures}" as="technicalFeature">
					<li class="technical-features-group__item technical-feature">
						<div class="technical-feature__media">
							<f:render section="FeatureMedia" arguments="{media: technicalFeature.media, settings: settings.technicalFeature}" />
						</div>
						<div class="technical-feature__body">
							<f:render section="FeatureTitle" arguments="{title: technicalFeature.title, layout: 3}" />
							<f:render section="FeatureDescription" arguments="{description: technicalFeature.description}" />
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:section>

	<f:section name="FeatureTitle">
		<f:if condition="{title}">
			<div class="technical-feature__title">
				<f:render partial="Header/Header" arguments="{header: title, layout: layout}" />
			</div>
		</f:if>
	</f:section>

	<f:section name="FeatureDescription">
		<f:if condition="{description}">
			<div class="technical-feature__description">
				<f:format.html>{description}</f:format.html>
			</div>
		</f:if>
	</f:section>

	<f:section name="FeatureMedia">
		<f:if condition="{media}">
			<f:render partial="Media/Main" section="Main" arguments="{
					file: media.originalResource,
					settings: settings.pictureSettings
				}" />
		</f:if>
	</f:section>
</html>