<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
	<f:if condition="{technicalDrawings -> f:count()} == 1">
		<f:then>
			<f:render section="Image" arguments="{technicalDrawing: technicalDrawings.0, settings: settings}" />
		</f:then>

		<f:else if="{technicalDrawings -> f:count()} > 1">
			<div class="tabs">
				<ul class="tab--container nav" id="myTab" role="tablist">
					<f:for each="{technicalDrawings}" as="technicalDrawing" iteration="iterator">
						<li role="presentation">
							<button class="{f:if(condition: iterator.isFirst, then: 'active')}" id="tab-technical-drawing-{technicalDrawing.uid}" data-bs-toggle="tab" data-bs-target="#tab-content-technical-drawing-{technicalDrawing.uid}" type="button" role="tab" aria-controls="#tab-content-technical-drawing-{technicalDrawing.uid}" aria-selected="{f:if(condition: iterator.isFirst, then: 'true', else: 'false')}">{technicalDrawing.originalResource.title}</button>
						</li>
					</f:for>
				</ul>

				<div class="tab--content">
					<f:for each="{technicalDrawings}" as="technicalDrawing" iteration="iterator">
						<div class="tab--pane fade {f:if(condition: iterator.isFirst, then: 'show active')}" id="tab-content-technical-drawing-{technicalDrawing.uid}" role="tabpanel" aria-labelledby="tab-technical-drawing-{technicalDrawing.uid}">
							<f:render section="Image" arguments="{technicalDrawing: technicalDrawing, settings: settings}" />
						</div>
					</f:for>
				</div>
			</div>
		</f:else>
	</f:if>

	<script>
		xna.l10n.technicalData = {
			prev: '<f:translate key="technicalData.lightbox.prev" />',
			next: '<f:translate key="technicalData.lightbox.next" />',
			close: '<f:translate key="technicalData.lightbox.close" />',
		};
	</script>
</f:section>

<f:section name="Image">
	<a class="product--technical-drawing" href="{f:uri.image(src: technicalDrawing.uid, treatIdAsReference: 1, maxWidth: settings.fullsize.maxWidth, maxHeight: settings.fullsize.maxHeight, cropVariant: settings.fullsize.cropVariant)}" aria-label="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo.action.enlarge')}">
		<f:render partial="Media/Main" section="Main" arguments="{
			file: technicalDrawing,
			settings: settings.thumbnail
		}" />
		<span class="product--technical-drawing-enlarge"><fo:svg.inline source="/assets/svg/enlarge" /></span>
	</a>
</f:section>
</html>