<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">

		<div class="product--header ce-header ce-frame ce-frame--layout-0 ce-frame--outer ce-frame--space-before-auto ce-frame--space-after-auto">
			<div class="ce-frame--inner">
				<f:render partial="Product/Header" section="Main" arguments="{_all}" />

				<f:if condition="{variants}">
					<f:render partial="Product/VariantNavigation" section="Main" arguments="{_all}" />
				</f:if>
			</div>
		</div>

		<f:if condition="{product.images}">
			<div class="ce-frame ce-frame--layout-4 ce-frame--outer {f:if(condition: '{product.images -> f:count()} == 1', then: 'ce-hero', else: 'ce-hero-slider')} ce-hero--layout-16-9 ce-frame--space-before-auto ce-frame--space-after-auto">
				<div class="ce-frame--inner">
					<f:render partial="Product/Images" section="Main" arguments="{images: product.images}" />
				</div>
			</div>
		</f:if>

		<f:if condition="{product.keyFacts}">
			<div class="product--keyfacts ce-frame ce-frame--layout-0 ce-frame--class-2 ce-entityproduct-keyfact ce-frame--outer ce-frame--space-before-medium ce-frame--space-after-large">
				<div class="ce-frame--inner">
					<f:render partial="KeyFact/Header" section="Main" arguments="{title: '{f:translate(key: \'product.keyFacts\')}', titleType: 2}" />
					<f:render partial="KeyFact/Listing" section="Main" arguments="{keyFacts: product.keyFacts}" />
				</div>
			</div>
		</f:if>

		<div class="ce-frame ce-frame--layout-0 ce-frame--outer ce-frame--space-before-medium ce-frame--space-after-auto">
			<div class="ce-frame--inner">
				<ul class="accordion product--accordion">
					<f:if condition="{product.longDescription}">
						<li class="product--long-description">
							<f:render section="AccordionHeader" arguments="{identifier: 'description', title: '{f:translate(key: \'product.longDescription\')}', expanded: 'true'}" />
							<div id="product--description-container" class="collapse show" aria-labelledby="product--description-header">
								<div class="accordion--container accordion--container-default">
									<f:format.html>{product.longDescription}</f:format.html>
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{product.technicalData}">
						<li class="product--technical-data">
							<f:render section="AccordionHeader" arguments="{identifier: 'technical-data', title: '{f:translate(key: \'product.technicalData\')}'}" />
							<div id="product--technical-data-container" class="collapse" aria-labelledby="product--technical-data-header">
								<div class="accordion--container accordion--container-default">
									<f:format.html>{product.technicalData}</f:format.html>
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{product.technicalDrawings}">
						<li class="product--technical-drawings">
							<f:render section="AccordionHeader" arguments="{identifier: 'technical-drawings', title: '{f:translate(key: \'product.technicalDrawings\')}'}" />
							<div id="product--technical-drawings-container" class="collapse" aria-labelledby="product--technical-drawings-header">
								<div class="accordion--container accordion--container-default">
									<f:render partial="Product/TechnicalDrawings" section="Main" arguments="{technicalDrawings: product.technicalDrawings, settings: settings.technicalDrawings.pictureSettings}" />
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{chart} || {product.airConsumptionData} || {product.airConsumptionMedia}">
						<li class="product--chart product--air-consumption">
							<f:render section="AccordionHeader" arguments="{identifier: 'chart', title: '{f:translate(key: \'product.airConsumption\')}'}" />
							<div id="product--chart-container" class="collapse" aria-labelledby="product--chart-header">
								<div class="accordion--container accordion--container-default">
									<f:if condition="{chart}">
										<f:render partial="Product/AirConsumption" section="Chart" arguments="{product: product, identifier: product.uid, chart: chart, isScreenContext: isScreenContext}" />
									</f:if>

									<f:if condition="{product.airConsumptionData}">
										<f:render partial="Product/AirConsumption" section="Data" arguments="{product: product}" />
									</f:if>

									<f:if condition="{product.airConsumptionMedia}">
										<f:render partial="Product/AirConsumption" section="Media" arguments="{media: product.airConsumptionMedia.originalResource}" />
									</f:if>
								</div>
							</div>
						</li>
					</f:if>


					<f:if condition="{product.systemInstallationMedia} || {product.systemInstallationLegend}">
						<li class="product--system-installation">
							<f:render section="AccordionHeader" arguments="{identifier: 'system-installation', title: '{f:translate(key: \'product.systemInstallation\')}'}" />
							<div id="product--system-installation-container" class="collapse" aria-labelledby="product--system-installation-header">
								<div class="accordion--container accordion--container-default">
									<f:render partial="Product/SystemInstallation" section="Main" arguments="{_all}" />
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{product.technicalFeatures}">
						<li class="product--technical-features">
							<f:render section="AccordionHeader" arguments="{identifier: 'technical-features', title: '{f:translate(key: \'product.technicalFeatures\')}'}" />
							<div id="product--technical-features-container" class="collapse" aria-labelledby="product--technical-features-header">
								<div class="accordion--container accordion--container-default">
									<f:render partial="Product/TechnicalFeatures" section="Main" arguments="{_all}" />
								</div>
							</div>
						</li>
					</f:if>


					<f:if condition="{product.options}">
						<li class="product--options">
							<f:render section="AccordionHeader" arguments="{identifier: 'options', title: '{f:translate(key: \'product.options\')}'}" />
							<div id="product--options-container" class="collapse" aria-labelledby="product--options-header">
								<div class="accordion--container accordion--container-default">
									<f:format.html>{product.options}</f:format.html>
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{product.files}">
						<li class="product--downloads">
							<f:render section="AccordionHeader" arguments="{identifier: 'downloads', title: '{f:translate(key: \'product.downloads\')}'}" />
							<div id="product--downloads-container" class="collapse" aria-labelledby="product--downloads-header">
								<div class="accordion--container accordion--container-default">
									<f:render partial="Product/Downloads" section="Main" arguments="{files: product.files}" />
								</div>
							</div>
						</li>
					</f:if>

					<f:if condition="{product.accesoriesDescription}">
						<li class="product--accesories-description">
							<f:render section="AccordionHeader" arguments="{identifier: 'accesories-description', title: '{f:translate(key: \'product.accesoriesDescription\')}'}" />
							<div id="product--accesories-description-container" class="collapse" aria-labelledby="product--accesories-description-header">
								<div class="accordion--container accordion--container-default">
									<f:format.html>{product.accesoriesDescription}</f:format.html>
								</div>
							</div>
						</li>
					</f:if>
				</ul>

				<f:comment>
					<!--
					<f:if condition="{chart} && {isScreenContext}">
						<f:render partial="Product/AirConsumption" section="Fallback" arguments="{record: record, product: product, identifier: product.uid, chart: chart}" />
					</f:if>
					-->
				</f:comment>

			</div>
		</div>

		<f:if condition="{product.technology}">
			<div class="product--technology ce-frame ce-teaser-frontend ce-teaser-frontend--technology ce-frame--layout-0 ce-frame--variant-1 ce-frame--outer ce-frame--space-before-large ce-frame--space-after-auto">
				<div class="ce-frame--inner">
					<f:render partial="Product/Technology" section="Main" arguments="{_all}" />
				</div>
			</div>
		</f:if>

		<f:if condition="{product.related}">
			<div class="product--related ce-frame ce-frame--layout-0 ce-frame--outer ce-frame--space-before-large ce-frame--space-after-large">
				<div class="ce-frame--inner">
					<f:render partial="Product/Related" section="Main" arguments="{_all}" />
				</div>
			</div>
		</f:if>

		<f:if condition="{product.applications}">
			<div class="product--applications ce-frame ce-frame--layout-0 ce-frame--class-1 ce-frame--outer ce-frame--space-before-medium ce-frame--space-after-large">
				<div class="ce-frame--inner">
					<f:render partial="Product/Applications" section="Main" arguments="{_all}" />
				</div>
			</div>
		</f:if>

		<f:comment>
			<f:if condition="{variants}">
				<section class="product--section">
					<div class="product--variant-header">Ausführungen</div>
					<ul class="product--variant-items">
						<f:for each="{variants}" as="variant">
							<li>
								<f:if condition="{variant.uid} == {product.uid}">
									<f:then><span class="current">{variant.variantTitle}</span></f:then>
									<f:else><f:link.action action="show" arguments="{product: variant}">{variant.variantTitle}</f:link.action></f:else>
								</f:if>
							</li>
						</f:for>
					</ul>
				</section>
			</f:if>
			<f:if condition="{product.variants}">
				<section class="product--section">
					<h2><f:translate key="product.variants" /></h2>

					<div class="product--table">
						<table class="table--layout-0">
							<thead>
								<tr>
									<th><f:translate key="variant.title" /></th>
									<th><f:translate key="variant.model" /></th>
									<th><f:translate key="variant.articleNumber" /></th>

									<f:for each="{product.attributes}" as="attribute">
										<th>{attribute.title} <f:if condition="{attribute.unit}">({attribute.unit})</f:if></th>
									</f:for>

									<th><f:translate key="variant.cadFile" /></th>
								</tr>
							</thead>
							<f:for each="{product.variants}" as="variant">
								<tr>
									<th>{variant.title}</th>
									<td>{variant.model}</td>
									<td>{variant.articleNumber}</td>

									<f:for each="{variant.attributes}" as="value">
										<td>
											<f:if condition="{value.attribute.dataType} == 'select'">
												<f:then>
													<f:for each="{value.attribute.options}" as="option">
														<f:if condition="{option.uid} == {value.value}">{option.title}</f:if>
													</f:for>
												</f:then>
												<f:else>
													<f:if condition="{value.attribute.prefix}">{value.attribute.prefix}</f:if>{value.value}
												</f:else>
											</f:if>
										</td>
									</f:for>

									<td>
										<f:if condition="{variant.file}">
											<div><f:link.typolink parameter="{variant.file.originalResource.publicUrl}">{variant.file.originalResource.name}</f:link.typolink></div>
										</f:if>
									</td>
								</tr>
							</f:for>
						</table>
					</div>
				</section>
			</f:if>

			<f:if condition="{product.files}">
				<section class="product--section">
					<h2><f:translate key="product.downloads" /></h2>

					<ul class="list--default">
						<f:for each="{product.files}" as="file">
							<li><f:link.typolink parameter="{file.originalResource.publicUrl}">{file.originalResource.title} ({file.originalResource.extension})</f:link.typolink></li>
						</f:for>
					</ul>
				</section>
			</f:if>

			<f:if condition="{product.media}">
				<section class="product--section">
					<h2><f:translate key="product.media" /></h2>

					<div class="ce-container">
						<f:for each="{product.media}" as="media">
							<f:image src="{media.uid}" treatIdAsReference="1" maxHeight="200" class="product--image" />
						</f:for>
					</div>
				</section>
			</f:if>

			<f:if condition="{product.applications}">
				<section class="product--section">
					<h2><f:translate key="product.applications" /></h2>

					<div class="card--container">
						<f:for each="{product.applications}" as="application">
							<f:render partial="Components/Card" section="Main" arguments="{data: application, link: '{f:uri.page(pageUid: application.uid)}'}" />
						</f:for>
					</div>
				</section>
			</f:if>

			<f:if condition="{product.related}">
				<section class="product--section">
					<h2><f:translate key="product.related" /></h2>

					<div class="card--container">
						<f:for each="{product.related}" as="related">
							<f:render partial="Components/Card" section="Main" arguments="{data: related, link: related.link}" />
						</f:for>
					</div>
				</section>
			</f:if>
		</f:comment>
	</f:section>

	<f:section name="AccordionHeader">
		<header class="accordion--header" id="product--{identifier}-header">
			<button data-bs-toggle="collapse" data-bs-target="#product--{identifier}-container" aria-expanded="{f:if(condition: '{expanded}', then: expanded, else: 'false')}" aria-controls="product--{identifier}-container">
				{title}
				<fo:svg.inline source="assets/svg/chevron-down.svg" />
			</button>
		</header>
	</f:section>
</html>
