<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" xmlns:e="http://typo3.org/ns/Ps/Entity/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="ReadmoreContainer">
	<div class="readmore-container">
		<div class="readmore-container--collapse">
			<f:render section="CardContainer" arguments="{products: products, settings: settings, additionalClass: 'readmore-container--body'}" />
		</div>
		<div class="readmore-container--toggle">
			<button class="button">
				<fo:svg.inline source="/assets/svg/readmore.svg" />
				<f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:action.loadmore" />
			</button>
		</div>
	</div>
</f:section>

<f:section name="CardContainer">
	<ul class="card--container {additionalClass}">
		<f:for each="{products}" as="product">
			<f:render section="Item" arguments="{category: category, product: product, settings: settings}" />
		</f:for>

		<f:if condition="{settings.hideIndividualProduct} != 1">
			<f:render section="Individual" arguments="{settings: settings}" />
		</f:if>
	</ul>
</f:section>

<f:section name="Item">
	<li class="card" data-uri-target="{e:uri.entity(entity: product, category: category)}">
		<f:render partial="Components/Card" section="Media" arguments="{media: product.masterImage, settings: settings.card.pictureSettings.thumbnail}" />
		<div class="card--body">
			<f:render partial="Components/Card" section="Title" arguments="{title: product.title, titleType: settings.titleType, link: '{e:uri.entity(entity: product, category: category)}'}" />

			<f:if condition="{product.subtitle}">
				<f:render partial="Components/Card" section="Description" arguments="{description: product.subtitle}" />
			</f:if>
		</div>
	</li>
</f:section>

<f:section name="Individual">
	<fo:page.entity identifier="individual-product" repository="Ps14\Teaser\Domain\Repository\PageRepository">
		<li class="card product-listing--item-individual" data-uri-target="{f:uri.page(pageUid: page.uid)}">
			<div class="product-listing--item-individual-icon">
				<fo:svg.inline source="assets/svg/no-result.svg" />
			</div>

			<div class="card--body">
				<f:render partial="Components/Card" section="Title" arguments="{title: page.teaserTitle, link: '{f:uri.page(pageUid: page.uid)}'}" />

				<f:if condition="{page.abstractLong}">
					<div class="card--description"><f:format.html>{page.abstractLong}</f:format.html></div>
				</f:if>
			</div>
		</li>
	</fo:page.entity>
</f:section>
</html>