// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$tx-product-key-fact--use-css: true !default;

@if($tx-product-key-fact--use-css) {
	.product--key-facts {
		& {
			@include make-row();
			list-style: none;
			padding: 0;
		}

		& > li {
			margin-top: rem(15px);
			@include make-col-ready()
		}

		header, p {
			display: inline;
		}

		header {
			margin: rem(0 4px 0 0);
			font-weight: $font-weight-bold;
		}

		p {
			& {
				margin: 0;
			}

			& + p {
				margin-top: rem(5px);
			}
		}
	}

	// >= 576px
	@include media-breakpoint-up(sm) {
		.product--key-facts {
			& > li {
				@include make-col(6);
			}
		}
	}

	// >= 992px
	@include media-breakpoint-up(lg) {
		.product--key-facts {
			& > li {
				@include make-col(3);
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/product-keyfact';