// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$tx-product-frontend--use-css: true !default;
$tx-product-frontend--layout-listing: true !default;
$tx-product-frontend--layout-show: true !default;

@if($tx-product-frontend--use-css) {
	@if($tx-product-frontend--layout-listing) {
		.navigation.sibling-navigation {
			& {
				margin-top: $spacing-default;
			}

			ul {
				margin: 0 rem(-5px);
			}

			li {
				margin-top: rem(5px);
				padding: 0 rem(5px);
			}

			li > a, li > span {
				height: 100%;
				border-radius: $border-radius-small;
				background: $theme-color-primary;
			}

			li > a {
				&:hover, .focusable &:focus {
					cursor: pointer;
					background: $theme-color-secondary;
				}
			}
		}

		.product-item {
			& {
				border-radius: $border-radius-small;
				background: $color-grey-light;
			}

			&:hover, .focusable &:focus {
				cursor: pointer;
				background: $color-grey-light;
			}

			.product-item--title {
				& {
					display: block;
					padding: rem(15px 15px);
				}

				&:hover, &:active {
					text-decoration: none;
				}
			}
		}

		.product-listing {
			& {
				display: flex;
				flex-direction: column;
			}

			.product-listing--body {
				flex: 1 auto;
				margin-top: rem(20px);
			}
		}

		.product-listing--filter {
			.filter {
				@extend %filter;
			}

			.filter-item--tree-radio {
				@extend %filter--tree;
				@extend %filter--tree-radio;
			}
		}

		.product-listing--container {
			& {
				@include make-row();
				margin-top: -$grid-gutter-width;
				padding: 0;
				list-style: none;
			}

			& > li {
				margin-top: $grid-gutter-width;
				@include make-col-ready();
			}
		}
	}

	@if($tx-product-frontend--layout-show) {
		.product--header {
			.ce-header {
				margin-top: 0;
			}
		}

		.product--variant-navigation {
			& {
				margin: rem(20px 0 0 0);
			}

			ul {
				@extend %tab--container;
				margin-top: rem(5px);
			}

			a {
				& {
					@extend %tab--item;
				}

				&:hover, .focusable &:focus {
					@extend %tab--item-active;
				}
			}
		}

		.product--accordion {
			.accordion--header {
				button {
					font-size: rem(21px);
					font-weight: $font-weight-normal;
				}
			}

			.accordion--container {
				margin-top: rem(30px);
				margin-bottom: rem(45px);
			}
		}

		.product--technical-data table {
			font-size: rem(16px);
		}

		.product--technical-drawings {
			img {
				@extend %image-responsive;
				width: auto;
				max-height: 300px;
			}

			.product--technical-drawing {
				& {
					position: relative;
					display: inline-block;
					margin-top: rem(15px);
				}

				&:hover, .focusable &:focus {
					background: none;
				}

				.no-touch & {
					.product--technical-drawing-enlarge {
						opacity: 0;
						transition: opacity $transition-duration;
					}

					&:hover, &:focus {
						.product--technical-drawing-enlarge {
							opacity: 1;
						}
					}
				}
			}

			.product--technical-drawing-enlarge {
				@extend %button--rounded-icon;
				position: absolute;
				right: 0; bottom: 0;
			}

			.tab--container {
				justify-content: flex-end;
			}
		}

		.tobii.tobii--theme-technical-drawing {
			.tobii__slide {
				[data-type] {
					padding: rem(10px);
				}

				figure > figcaption {
					position: relative;
					padding: rem(30px 0 0 0);
				}
			}
		}

		.product--listing {
			.card--container {
				margin-top: rem(5px);
			}
		}
	}

	// >= 576px
	@include media-breakpoint-up(sm) {
		@if($tx-product-frontend--layout-listing) {
			.navigation.sibling-navigation {
				ul {
					display: flex;
				}

				li {
					margin-top: 0;
				}
			}

			.product-listing--container {
				& > li {
					@include make-col(6);
				}
			}
		}
	}

	// >= 768px
	@include media-breakpoint-up(md) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-frame--inner {
					padding-right: percentage(2 / 12);
				}
			}

			.product--accordion {
				.accordion--header button {
					font-size: rem(26px);
				}

				.accordion--container {
					margin-bottom: rem(65px);
				}
			}

			.product--long-description, .product--downloads {
				.accordion--container {
					padding-right: percentage(2 / 12);
				}
			}

			.product--technical-data table {
				width: auto;
				min-width: percentage(10 / 12);
				font-size: rem(18px);
			}
		}

		@if($tx-product-frontend--layout-listing) {
			.product-listing {
				& {
					flex-direction: row;
				}

				.product-listing--filter {
					min-width: 275px;
					padding: rem(0 20px 0 0);
				}

				.product-listing--body {
					margin-top: 0;
				}
			}
		}
	}

	// >= 992px
	@include media-breakpoint-up(lg) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-frame--inner {
					display: flex;
					padding-right: 0;
				}

				.ce-header {
					width: percentage(9 / 12);
					padding-right: 15px;
				}

				.product--variant-navigation {
					width: percentage(3 / 12);
					margin-top: rem(155px);
					padding-left: 15px;
				}
			}

			.product--long-description, .product--downloads {
				.accordion--container {
					padding-right: percentage(3 / 12);
				}
			}

			.product--technical-data table {
				min-width: percentage(9 / 12);
			}

			.product--technical-drawings {
				img {
					max-height: 450px;
				}
			}
		}

		@if($tx-product-frontend--layout-listing) {
			.product-listing {
				.product-listing--filter {
					min-width: 290px;
					padding: rem(0 30px 0 0);
				}
			}

			.product-listing--container {
				& > li {
					@include make-col(4);
				}
			}
		}
	}

	// >= 1200px
	@include media-breakpoint-up(xl) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-header {
					width: percentage(8 / 12);
				}

				.product--variant-navigation {
					width: percentage(4 / 12);
					justify-content: flex-end;
				}
			}

			.product--variant-navigation {
				& {
					display: flex;
					align-content: center;
				}

				.product--variant-navigation-header {
					margin: rem(0 20px 0 0);
				}

				ul {
					margin-top: 0;
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/product-frontend';