// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$tx-product-frontend--use-css: true !default;
$tx-product-frontend--layout-listing: true !default;
$tx-product-frontend--layout-show: true !default;

@if($tx-product-frontend--use-css) {
	@if($tx-product-frontend--layout-listing) {
		.navigation.sibling-navigation {
			& {
				margin-top: $spacing-default;
			}

			ul {
				margin: 0 rem(-5px);
			}

			li {
				margin-top: rem(5px);
				padding: 0 rem(5px);
			}

			li > a, li > span {
				height: 100%;
				border-radius: $border-radius-small;
				background: $theme-color-primary;
				color: #fff;
			}

			li > a {
				&:hover, .focusable &:focus {
					cursor: pointer;
					background: $theme-color-primary-dark;
				}

				& > span {
					background: none;
				}
			}
		}

		.product-listing {
			& {
				display: flex;
				flex-direction: column;
			}

			.product-listing--body {
				flex: 1 auto;
				margin: rem(35px 0 0 0);
			}

			.product-listing--container {
				margin-top: rem(-30px);
			}
		}

		//.product-listing--actions {
		//	& {
		//		display: flex;
		//		//justify-content: flex-end;
		//	}
		//
		//	//& + .product-listing {
		//	//	margin-top: rem(30px);
		//	//}
		//
		//	& +
		//}

		.product-listing--filter-switch {
			& {
				position: relative;
				padding: 5px 30px 5px 0;
				border: 0;
				background: transparent;
				color: $theme-color-primary;
				cursor: pointer;
			}

			svg {
				position: absolute;
				top: 12px; right: 1px;
				width: 18px;
				height: 14px;
			}
		}

		.product-listing--off-canvas--switch {
			display: none;
		}

		.product-listing--sibling-navigation {
			.product-listing--sibling-navigation-header {
				font-size: rem(22px);
			}

			.navigation {
				ul {
					display: flex;
					flex-direction: column;
				}

				a {
					& {
						display: flex;
						padding-left: 0;
					}

					svg {
						width: 14px;
						height: 11px;
						margin: rem(9px 0 0 12px);
						flex-shrink: 0;
						fill: $theme-color-primary;
						transition: transform 0.25s;
					}
				}

				.active {
					a {
						color: $font-color-base;
						font-weight: $font-weight-bold;
					}

					a svg {
						fill: $font-color-base;
					}
				}
			}
		}

		.product-listing--filter {
			.filter {
				@extend %filter;
			}

			.filter-item--option-group-title,
			.filter-actions {
				padding: rem(0 10px);
			}

			.filter-reset--all {
				@extend %filter-actions--reset;
			}

			.filter-item--tree-radio {
				& {
					@extend %filter--tree;
					@extend %filter--tree-radio;
				}

				.filter-item--option {
					& {
						margin-top: rem(2px);
						padding: rem(4px 10px 4px 33px);
						border-radius: 3px;
						transition: background $transition-duration;
					}

					span:before, span:after {
						top: rem(7px); left: rem(11px);
					}

					&:hover, .focusable &:focus-within {
						background: #ececec;
					}
				}
			}
		}

		.product-listing--filter-modal {
			.modal--close {
				@extend %button--rounded-icon;
			}
		}
	}

	@if($tx-product-frontend--layout-show) {
		.product--header {
			.ce-header {
				margin-top: 0;
			}
		}

		.product--variant-navigation {
			& {
				margin: rem(20px 0 0 0);
			}

			ul {
				@extend %tab--container;
				margin-top: rem(5px);
			}

			a {
				& {
					@extend %tab--item;
				}

				&:hover, .focusable &:focus {
					@extend %tab--item-active;
				}
			}
		}

		.product--accordion {
			.accordion--header {
				button {
					font-size: rem(21px);
					font-weight: $font-weight-normal;
				}
			}
		}

		.product--technical-drawings {
			img {
				@extend %image-responsive;
				width: auto;
				max-height: 300px;
			}

			.product--technical-drawing {
				& {
					position: relative;
					display: inline-block;
					margin-top: rem(15px);
				}

				&:hover, .focusable &:focus {
					background: none;
				}

				.no-touch & {
					.product--technical-drawing-enlarge {
						opacity: 0;
						transition: opacity $transition-duration;
					}

					&:hover, &:focus {
						.product--technical-drawing-enlarge {
							opacity: 1;
						}
					}
				}
			}

			.product--technical-drawing-enlarge {
				@extend %button--rounded-icon;
				position: absolute;
				right: 0; bottom: 0;
			}

			.tab--container {
				justify-content: flex-end;
			}
		}

		.product--technical-features {
			.technical-features--listing {
				margin-top: rem(-45px);
				padding: 0;
				list-style: none;
			}

			.technical-feature {
				& {
					margin-top: rem(45px);
				}

				p {
					font-size: rem(16px);
				}
			}

			.technical-feature--title {
				& {
					margin-top: rem(20px);
				}

				h1, h2, h3, h4, h5 {
					margin-top: 0;
				}

				&, h1, h2, h3, h4, h5 {
					font-size: rem(20px);
					font-weight: $font-weight-normal;
				}
			}

			.technical-feature--media {
				img {
					@extend %image-responsive;
				}
			}
		}

		.tobii.tobii--theme-technical-drawing {
			.tobii__slide {
				[data-type] {
					padding: rem(10px);
				}

				figure > figcaption {
					position: relative;
					padding: rem(30px 0 0 0);
				}
			}
		}
	}

	// >= 576px
	@include media-breakpoint-up(sm) {
		@if($tx-product-frontend--layout-listing) {
			.product-listing--sibling-navigation {
				.navigation {
					ul {
						flex-direction: row;
					}

					li {
						margin-right: rem(35px);
					}
				}
			}

			.product-listing--actions {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	// >= 768px
	@include media-breakpoint-up(md) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-frame--inner {
					padding-right: percentage(2 / 12);
				}
			}

			.product--accordion {
				.accordion--header button {
					font-size: rem(26px);
				}
			}

			.product--long-description, .product--downloads, .product--options {
				.accordion--container {
					padding-right: percentage(2 / 12);
				}
			}

			.product--technical-data table {
				& {
					width: auto;
					min-width: percentage(10 / 12);
				}

				&[data-columns-count='4'], &[data-columns-count='5'], &[data-columns-count='6'], &[data-columns-count='7'], &[data-columns-count='8'] {
					width: 100%;
				}
			}

			.product--technical-data-accessories table[data-columns-count='3'] {
				& {
					width: 100%;
				}

				tr {
					th:nth-child(1), td:nth-child(1) {
						width: 25%;
					}

					th:nth-child(2), td:nth-child(2) {
						width: 55%;
					}

					th:nth-child(3), td:nth-child(3) {
						width: 20%;
					}
				}
			}
		}

		@if($tx-product-frontend--layout-listing) {
			//.product-listing {
			//	& {
			//		flex-direction: row;
			//	}
			//
			//	.product-listing--filter {
			//		min-width: 275px;
			//		padding: rem(0 20px 0 0);
			//	}
			//
			//	.product-listing--body {
			//		margin-top: 0;
			//	}
			//
			//	.card--container {
			//		& > .card {
			//			width: calc(#{percentage(1 / 2)} - 30px);
			//		}
			//	}
			//}
		}
	}

	// >= 992px
	@include media-breakpoint-up(lg) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-frame--inner {
					display: flex;
					padding-right: 0;
				}

				.ce-header {
					width: percentage(9 / 12);
					padding-right: 15px;
				}

				.product--variant-navigation {
					width: percentage(3 / 12);
					margin-top: rem(155px);
					padding-left: 15px;
				}
			}

			.product--technical-data table {
				min-width: percentage(9 / 12);
			}

			.product--technical-drawings {
				img {
					max-height: 450px;
				}
			}

			.product--technical-features {
				.technical-feature--title {
					& {
						margin-top: 0;
						font-size: rem(21px);
					}

					& + p {
						margin-top: rem(10px);
					}
				}
			}
		}

		@if($tx-product-frontend--layout-listing) {
			.product-listing--off-canvas--switch {
				display: block;
			}

			.product-listing--filter-modal--switch {
				display: none;
			}

			.product-listing {
				& {
					flex-direction: row;
					overflow: hidden;
				}

				&.off-canvas--hidden {
					.product-listing--off-canvas {
						display: none;
					}
				}

				.product-listing--off-canvas {
					width: percentage(4 / 12);
					padding: rem(0 30px 0 0);
					transition: margin $transition-duration;
				}

				.product-listing--sibling-navigation {
					.navigation {
						ul {
							flex-direction: column;
						}

						a {
							& {
								display: block;
								padding-left: rem(10px);
							}

							svg {
								display: none;
							}
						}
					}
				}

				.product-listing--sibling-navigation + .product-listing--filter {
					margin-top: rem(45px);
				}

				.product-listing--filter {
					& {
						display: block;
						padding: rem(25px 10px);
						background: $color-grey-lighter;
						border-radius: 5px;
					}

					.modal--close, .filter--submit-all {
						display: none;
					}
				}

				.product-listing--body {
					width: percentage(8 / 12);
					margin: 0;
				}

				.card--container {
					& > .card {
						width: calc(#{percentage(1 / 3)} - 30px);
					}
				}
			}
		}
	}

	// >= 1200px
	@include media-breakpoint-up(xl) {
		@if($tx-product-frontend--layout-show) {
			.product--header {
				.ce-header {
					width: percentage(8 / 12);
				}

				.product--variant-navigation {
					width: percentage(4 / 12);
					justify-content: flex-end;
				}
			}

			.product--variant-navigation {
				& {
					display: flex;
					align-content: center;
				}

				.product--variant-navigation-header {
					margin: rem(0 20px 0 0);
				}

				ul {
					margin-top: 0;
				}
			}
		}

		@if($tx-product-frontend--layout-listing) {
			.product-listing {
				.product-listing--off-canvas {
					width: percentage(3 / 12);
				}
			}

			.product-listing--body {
				width: percentage(9 / 12);
			}
		}
	}
}

// <= 992px
@include media-breakpoint-down(md) {
	@if($tx-product-frontend--layout-listing) {
		.product-listing--filter-modal {
			& {
				@include modal--container;
			}

			.modal--backdrop {
				@include modal--backdrop;
				padding: 0.1px rem(30px);
				background: rgba(#fff, 0.95);
			}

			.modal--close {
				& {
					@include modal--close;
					top: rem(30px);
					right: rem(30px);
					width: rem(65px);
					height: rem(65px);
				}

				svg {
					width: rem(26px);
					height: rem(26px);
				}
			}

			.modal {
				@include modal;
				padding: rem(25px 10px);
				background: $color-grey-lighter;
				border-radius: 5px;
			}

			.is--modal-open & {
				& {
					width: 100%;
					height: 100vh;
				}

				.modal--backdrop {
					opacity: 1;
				}
			}

			.is--modal-closing & {
				& {
					width: 100%;
					height: 100vh;
				}

				.modal--backdrop {
					transition-duration: 0.75s;
					opacity: 0;
				}
			}

			.filter .filter-actions {
				& {
					display: flex;
					align-items: center;
					margin: rem(45px 0 0 0);
				}

				.filter-reset--all {
					margin-left: rem(20px);
				}
			}
		}
	}
}

// <= 768px
@include media-breakpoint-down(sm) {
	@if($tx-product-frontend--layout-listing) {
		.product-listing--filter-modal {
			.modal--backdrop {
				padding-left: rem(15px);
				padding-right: rem(15px);
			}

			.modal--close {
				top: rem(15px);
				right: rem(15px);
			}

			.modal {
				margin-top: rem(120px);
			}
		}
	}
}

// <= 576px
@include media-breakpoint-down(xs) {
	@if($tx-product-frontend--layout-listing) {
		.product-listing--filter-modal {
			.modal--close {
				width: rem(55px);
				height: rem(55px);
			}

			.modal {
				margin-top: rem(105px);
			}

			.filter .filter-actions {
				& {
					flex-direction: column;
					align-items: flex-start;
					margin-top: rem(35px);
				}

				.filter--submit-all {
					display: block;
					width: 100%;
				}

				.filter-reset--all {
					margin: rem(20px 0 0 0);
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/product-frontend';